@import '~../SharedStyles';
h2 {
    width: calc(95% - 10px);
    padding-left: 10px;
    margin: 0;
}

.green-btn {
    @include btn-color($green)
}

.blue-btn {
    @include btn-color($blue)
}

.red-btn {
    @include btn-color($red)
}

.grey-btn {
    @include btn-color(darken($grey, 20%))

}

.return-btn {
    @include btn-color($red);
    height: 80px;
    width: 80px !important;
    font-size: 16px;
    float: right;
}

.plus-btn {
    @include btn-color($grey);
    width: 48px !important;
    height: 48px;
    border-radius: 50%;
    z-index: 1;
    float:right;
}

.input {
    margin-top: 2%;
    border: 2px $dark solid;
    width: 100%;
    padding: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 80px;
    font-size: 18px;
    &:focus {
        outline-color: $dark
    }
    &.warning {
        border: 2px $red solid;
        outline-color: $red
    }
}

.sidebar-header {
    @extend %flex-center;
    width: 100%
}

.option-b {
    width: 78% !important;
}
.option-percent {
    width: 20% !important;
    margin-left:2%;
    position:relative;
}
// .option-percent::after{
//     content: "hi";
//     cursor: pointer;
//     position:absolute;
//     width: 10px;
//     height: 10px;;
//     background-color: red
// }

@media (min-width: 768px) {

    .option-b {
        width: 58% !important;
    }
    .option-percent {
        width: 40% !important;
        margin-left:2%;
        position:relative;
    }
    
    .sidebar {
        width: 250px;
        left: 0;
        top: 0;
        bottom: 0;
        padding: 30px 30px 0 70px;
        font-weight: 700;
        position: fixed;
    }
    
    %btn,
    label,
    .sidebar-header,
    .input {
        width: 100%;
    }
}