@import '~../SharedStyles';
.history {
    min-width: 600px;
}

.table-header {
    font-weight: bold;
    text-transform: uppercase;
    background: $grey;
    cursor: pointer;
}

.table-header,
.table-row {
    display: flex;
    border-bottom: 2px solid $dark;
    div {
        @extend %flex-center;
        min-height: 40px;
        width: 20%;
    }
}

.table-wrap {
    margin-top: 2%;
    overflow-x: scroll;
    width: 100%;
}

@media (min-width: 768px) {
    .table-wrap {
        overflow-x: hidden;
    }
}